body {
    height: 100vh; 
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main_content {
    width: 25%;
    margin: auto;
    margin-top: 2rem;
    background-color: rgb(230, 246, 255); 
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(253, 76, 111);
    box-sizing:border-box;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header_cnt1
{
    display: flex;
    color: white;
    margin-bottom: 0.5rem;
}

#h3{
    color: white;
    font-size: 1.7rem;
    letter-spacing: 1px;
    margin-bottom: 0rem;
}

#p1{
    font-weight: 100;
}

#img1{
    margin-top: -2rem;
}

.info{
    width: 95%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.iplRecordDiv{
    display: flex;
    color: grey;
}

.iplRecordPara{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#infoHeading
{
    color: black;
    margin-bottom: 0rem;
    font-weight: lighter;
}

#infoHeading, #infoPara{
    margin-left: 1rem;
    margin-right: 1rem;
}

.videoDiv
{
    display: flex;
    justify-content: space-evenly;
}

.d1,.d2,.d3{
    display: flex;
    flex-direction: column;
    font-size:small;
    width: 30%;
}

#buttons
{
    display: flex;
    justify-content: center;
}

button{
    background-color: rgb(0, 120, 252);
    font-size: 1rem;
    color: white;
    margin-bottom: 1rem;
    border-radius: 8px;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    height: 2.2rem;
    border: none;
}