* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main_container{
    width: 25%;
    margin: auto;
    margin-top: 5rem;
    background-color: white; 
    border: 1px solid black;
}

.container1, .container2, .container3, .container4
{
    display: flex;
    padding: 0.5rem;
}

.container1
{
    justify-content: space-around;
    background-color: white;
    margin: 0.4rem;
}

.c1_col
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

h4
{
    font-size: large;
    font-weight: 200;
}

#know_more
{
    color: white;
    font-size: 0.8rem;
    background-color: rgb(0, 101, 207);
    border: none;
    width: 5rem;
    height: 1.9rem;
    font-weight: lighter;
    border-radius: 5px;
}

.container2
{
    background-color: rgb(230, 240, 250);
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    padding-bottom: 2rem;
    padding-top: 1rem;
    justify-content: space-around;
}

#corona_img
{
    width: 4rem;
    height: 4rem;
}

.c2_col
{
    display: flex;
    flex-direction: column;
}

#c2p
{
    font-size: 0.8rem;
    color: grey;
    font-weight: 100;
    margin-top: 1rem;
}

#symptons_heading, #video_heading
{
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: 500;
}

.div1, .div2, .div3
{
    padding: 0.8rem;
    margin: auto;
    border-radius: 10px;
}

.div1
{
    background-color: rgb(57, 190, 149);
    color: white;
}

.div2
{
    background-color: rgb(231, 102, 165);
    color: white;
}

.div3
{
    background-color: rgb(163, 100, 248);
    color: white;
}

.container4{
    background-color: rgb(252, 234, 235);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    margin-top: 0.7rem;
    justify-content: space-evenly;
}

.video_col
{
    display: flex;
    flex-direction: column;
}

#c4p
{
    font-size: 0.9rem;
    color: grey;
    font-weight: 100;
    margin-top: 1rem;
}

#watch_video
{
    color: white;
    font-size: 0.8rem;
    background-color: rgb(0, 101, 207);
    border: none;
    width: 6rem;
    height: 1.8rem;
    font-weight: lighter;
    border-radius: 5px;
    margin-top: 0.7rem;
    padding: 0.5rem;
    justify-content: center;    
}

#doctor_img
{
    height: 3rem;
}