* 
{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

.main_container
{
    background-color: rgb(14, 30, 68);
    margin: auto;
    margin-top: 6rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 5px grey;
    color: white; 
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

.header
{
    display: flex;
    flex-direction: row;
}

#whatsappTxt
{
    font-weight: bolder;
    font-size: 1.5rem;
}

i
{
    font-size: 1.7rem;
}

.hd
{
    display: flex;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

#hd1
{
    margin-right: 10.4rem;
}

#hd2
{
    display: flex;
    justify-content: flex-end;
    width: 7rem;
}

.d
{
    display: flex;
    margin-right: 1rem;

}

#search

{
    width: 98%;
    border-radius: 10px;
    padding-left: 1rem;
    height: 2.36rem;
    background-color: rgb(64, 76, 87);
    color: white;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.main
{
    display: flex;
    flex-direction: column;
    margin-top: 0.5 rem;
}

.md
{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.main_content
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content1
{
    width: 80%;
}

img
{
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 1rem;
}

.userName
{
    font-size: 1rem;    
    color: white;
    font-weight: 600;
}

.msg
{
    font-size: 0.9rem;
    color: rgb(209, 213, 216);
}

.time
{
    font-size: 0.8rem;
    color: rgb(209, 213, 216);
}

#new
{
    position: fixed;
    margin-top: 19%;
    margin-left: 21%;
    font-size: 2rem;
}


.footer
{
    margin-top: 1.7rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 1rem;
}

.fd
{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.2rem;
}

.fd i
{
    margin-bottom: 0.5rem;
}