body {
    height: 100vh; 
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main_content {
    width: 22%;
    height: 90%;
    margin: auto;
    margin-top: 2rem;
    background-image: url(advancedTechno.png); 
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /*to add the content at the bottom of the div*/
    box-shadow:  5px 5px 10px black;   
}

#content {
    background-color: white; 
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;     
}

h3{
    color: rgb(92, 92, 197);
    font-family:cursive;
    font-weight:bolder;
}

p{
    font-weight:100;
    color: rgb(75, 71, 71);
}

button{
    width: 8rem;
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: white;
}

#save_draft{
    background-color: rgb(92, 92, 197);
    color: white;
    border: none;
}